.counter {
    width: 104px;
    background-color: rgba(13, 133, 220, .1);
    white-space: nowrap;
    text-align: center;
    line-height: 0;
    font-size: 0;
    border-radius: 25px;
    color: #5A5E67;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter__input {
    width: 36%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: rgba(46, 47, 56, .7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter__btn {
    width: 32%;
    height: 44px;
    padding: 0;
    outline: none;
    align-items: center;
    display: flex;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.counter__btn:disabled {
    color: #626262;
    pointer-events: none;
}