.container {
    margin: 0 auto;
    max-width: 1349px;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 1280px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}