.header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(221, 227, 237);
    background-color: #fff;
    z-index: 12;
    padding: 20px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header__left {} */

.header__right {
    width: 120px;
}
@media (max-width: 767px) {
    .header__btn {
        min-width: 100px;
    }
}